.select-genre {
    text-align: center;
    align-content: center;
    height: 100vh;
}

.select-genre h2 {
    color: #f72585;
    font-size: 2rem;
}

.genre-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.genre-button {
    padding: 15px 25px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f72585;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.genre-button:hover {
    background-color: #b5179e;
}

.genre-button.selected {
    background-color: #4895ef;
}

.genre-submit-button {
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #f72585;
    color: #ffffff;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 1rem;
}

.genre-submit-button:hover {
    background-color: #b5179e;
}